{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of creatures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Attack</th>
                <th>Defense</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('creature_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.defense }}</td>
                <td>{{ entity.attack }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('creature_show', { 'id': entity.id }) }}"
                            class="btn btn-outline-secondary btn-sm">Details</a>
                        <a href="{{ path('creature_edit', { 'id': entity.id }) }}"
                            class="btn btn-outline-secondary btn-sm">Edit</a>
                        <a href="{{ path('creature_delete', { 'id': entity.id }) }}"
                            class="btn btn-outline-secondary btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <a href="{{ path('creature_new') }}" class="btn btn-primary">Create a new entry</a>
    </div>
{% endblock %}
