{% extends 'base.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Attack</th>
                <td>{{ entity.attack }}</td>
            </tr>
            <tr>
                <th>Defense</th>
                <td>{{ entity.defense }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <div class="btn-group">
            <a href="{{ path('creature_index') }}" class="btn btn-outline-secondary btn-medium">Back to the list</a>
            <a href="{{ path('creature_edit', { 'id': entity.id }) }}" class="btn btn-outline-secondary btn-medium">Edit</a>
            <a href="{{ path('creature_delete', { 'id': entity.id }) }}" class="btn btn-outline-secondary btn-medium">Delete</a>
        </div>
    </div>

{% endblock %}
