{% extends 'base.html.twig' %}

{% block body -%}

<div class="container-fluid mt-3">

    <div class="card">
        
        <h5 class="card-header">{{ entity.name }}</h5>

        <div class="card-body">
            <p class="card-text">ID: {{entity.id }}</p>
            <p class="card-text">Defense: {{ entity.defense }}</p>
            <p class="card-text">Attack: {{ entity.attack }}</p>
        
            <div class="btn-group text-right">
                <a href="{{ path('creature_edit', { 'id': entity.id }) }}" class="btn btn-outline-primary btn-sm">Edit</a>
                <a href="{{ path('creature_delete', { 'id': entity.id }) }}" class="btn btn-outline-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
    
    <div class="btn-group mt-3">
        <a href="{{ path('creature_index') }}" class="btn btn-primary btn-medium">Back to the list</a>
    </div>
</div>

{% endblock %}
